<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: header"><meta charset="UTF-8"></head>
<body>
	<nav th:replace="fragments.html :: main-nav"></nav>
	<div class="alert alert-warning" role="alert" th:if="${account != null && !account?.emailVerified}"> 
		이메일 인증을 완료하지 않았습니다. 이메일을 확인하세요. <a href="#" th:href="@{'/resend-email/' + ${account.nickname}}">인증 이메일 재전송</a>
	</div>
	<div class="container">
		<div class="row mt-5 justify-content-center">
			<h2> <a href="#" th:href="@{'/study/' + ${study.getEncodePath()}}" th:text="${study.title}"></a> 새 모임 만들기</h2>
		</div>
		
		<div class="row mt-2 justify-content-center">	
			<form th:replace="fragments.html :: event-form(url='/study/' + ${study.getEncodePath()} + '/new-event', flag='insert')"></form>
		</div>
	</div>
	
	<footer th:replace="fragments.html :: footer"></footer>
	<script th:replace="fragments.html :: form-validation"></script>
	<script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
	<script th:replace="fragments.html :: editor-script"></script>
</body>
</html>