<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	  
<!-- header start -->
<head th:fragment="header">
	<meta charset="UTF-8">
	<title>빡공</title>
	<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/node_modules/@yaireo/tagify/dist/tagify.css" />
	<!-- <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css" />
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet"> -->
	<style>
		.container {
			max-width: 100%;
		}
		.tagify-outside{
			border: 0;
			padding: 0;
			margin: 0;
		}
	</style>
	<script src="/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="/node_modules/jdenticon/dist/jdenticon.min.js" ></script>
</head>
<!-- header end -->
<body>
	<!-- main navigation start -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="main-nav">
  		<a class="navbar-brand" href="#" th:href="@{/}"><img class="mb-2" src="/images/logo_sm.png" alt="studyolle" width="30" height="30"> StudyHard</a>
  		<form class="form-inline my-2 my-lg-0" method="post" action="#" >
   			<input class="form-control mr-sm-2" type="search" placeholder="스터디 찾기" aria-label="Search">
   			<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">찾기</button>
   		</form>
   		
   		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  		</button>
  		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto" sec:authorize="!isAuthenticated()">
     			<li class="nav-item">
       				<a class="nav-link" href="#" th:href="@{/login}">로그인</a>
     			</li>
     			<li class="nav-item active">
       				<a class="nav-link" href="#" th:href="@{/sign-up}">가입</a>
     			</li>
	   		</ul>
	   		<ul class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
	   			<li class="nav-item">
		    		<a class="nav-link" th:href="@{/notifications}"><i class="fa fa-bell" aria-hidden="true"></i></a>
		    	</li>
		    	<li class="nav-item">
		    		<a class="nav-link btn btn-outline-primary" href="#" th:href="@{/study/new}"><i class="fa fa-plus" aria-hidden="true"></i> 스터디 개설</a>
		    	</li>
		    	<li class="nav-item dropdown">
	                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                    <svg th:if="${#strings.isEmpty(account?.profileImage)}" th:data-jdenticon-value="${#authentication.name}" width="24" height="24" class="rounded border bg-light"></svg>
	                    <img th:if="${!#strings.isEmpty(account?.profileImage)}" th:src="${account.profileImage}" width="24" height="24" class="rounded border"/>
	                </a>
	                <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
	                    <h6 class="dropdown-header">
	                        <span sec:authentication="name">Username</span>
	                    </h6>
	                    <a class="dropdown-item" th:href="@{'/profile/' + ${#authentication.name}}">프로필</a>
	                    <a class="dropdown-item" th:href="@{'/'}">스터디</a>
	                    <div class="dropdown-divider"></div>
	                    <a class="dropdown-item" href="#" th:href="@{'/settings/profile'}">설정</a>
	                    <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
	                        <button class="dropdown-item" type="submit">로그아웃</button>
	                    </form>
	                </div>
	            </li>
	   		</ul>
		</div>
	</nav>
	<!-- main navigation end -->
	
	<!-- profile - menu start -->
	<div th:fragment="settings-menu(currentMenu)" class="list-group">
		<a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'} ? active" href="#" th:href="@{/settings/profile}">프로필</a>
		<a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'} ? active" href="#" th:href="@{/settings/password}">패스워드</a>
		<a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'notifications'} ? active" href="#" th:href="@{/settings/notification}">알림</a>
		<a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tags'} ? active" href="#" th:href="@{/settings/tags}">관심 주제</a>
		<a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'zones'} ? active" href="#" th:href="@{/settings/zones}">활동 지역</a>
		<a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'account'} ? active" href="#" th:href="@{/settings/account}">계정</a>
	</div>
	<!-- profile - menu - end -->
	
	<!-- footer start -->
	<footer th:fragment="footer" class="fixed-bottom">
	    <div class="row justify-content-center">
	        <img class="mb-2" src="/images/logo_sm.png" alt="studyolle" width="30" height="30">
	        <small class="d-block mb-3 text-muted" style="margin-left:10px; margin-right:10px;">Study Hard</small> <br/>
	        <small class="d-block mb-3 text-muted" style="margin-left:10px; margin-right:10px;">@CopyrightBy 백기선님 인프런 강좌 바탕으로 작성</small> <br/>
	    </div>
	</footer>
	<!-- footer end -->
	
	<!-- form - validation start-->
	<script type="application/javascript" th:fragment="form-validation">
	    (function () {
	        'use strict';
	
	        window.addEventListener('load', function () {
	            // Fetch all the forms we want to apply custom Bootstrap validation styles to
	            var forms = document.getElementsByClassName('needs-validation');
	
	            // Loop over them and prevent submission
	            Array.prototype.filter.call(forms, function (form) {
	                form.addEventListener('submit', function (event) {
	                    if (form.checkValidity() === false) {
	                        event.preventDefault();
	                        event.stopPropagation();
	                    }
	                    form.classList.add('was-validated')
	                }, false)
	            })
	        }, false)
	    }())
	</script>
	<!-- form - validation end -->
	
</body>
</html>