<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: header"><meta charset="UTF-8"></head>
<body>
	<nav th:replace="fragments.html :: main-nav"></nav>
	<div class="alert alert-warning" role="alert" th:if="${account != null && !account?.emailVerified}"> 
		이메일 인증을 완료하지 않았습니다. 이메일을 확인하세요. <a href="#" th:href="@{'/resend-email/' + ${account.nickname}}">인증 이메일 재전송</a>
	</div>
	<div class="container">
		<div class="row mt-5 justify-content-center">
			<div class="col-2">
				<div th:replace="fragments.html :: settings-menu(currentMenu = 'password')"></div>
			</div>
			<div class="col-8">
				<div class="alert alert-primary" role="alert" th:if="${!#strings.isEmpty(updateMsg)}" th:text="${updateMsg}">update message</div>
				<div class="row">
					<h1 class="display-4">패스워드 변경</h1>
				</div>
				<div class="row">
					<form class="needs-validation col-10" action="#" th:action="@{/settings/password}" th:object="${passwordForm}" method="post">
						<div class="form-group">
							<label for="password">변경 패스워드</label>
							<input type="password" id="password" name="password" th:field="*{password}" class="form-control"
								aira-describedby="passwordHelper" minlength="8" maxlength="20">
							<small id="passwordHelper" class="form-text text-muted">수정할 패스워드를 8글자 이상 작성하시오.</small>
							<small id="passwordError" class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">error</small> 
						</div>
						<div class="form-group">
							<label for="rePassword">패스워드 확인</label>
							<input type="password" id="rePassword" name="rePassword" th:field="*{rePassword}" class="form-control"
								aira-describedby="rePasswordHelper" minlength="8" maxlength="20">
							<small id="rePasswordHelper" class="form-text text-muted">다시 입력하세요.</small>
							<small id="rePasswordError" class="form-text text-danger" th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}">error</small> 
						</div>
						<div class="form-group">
							<button class="btn btn-primary btn-block">수정하기</button> 
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<footer th:replace="fragments.html :: footer"></footer>
</body>
</html>