<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: header"><meta charset="UTF-8"></head>
<body>
	<nav th:replace="fragments.html :: main-nav"></nav>
	<div th:if="${!#strings.isEmpty(emailMessage)}" class="alert alert-primary mb-1" role="alert" th:text="${emailMessage}"></div>
	<div class="alert alert-warning" role="alert" th:if="${account != null && !account?.emailVerified}"> 
		이메일 인증을 완료하지 않았습니다. 이메일을 확인하세요. <a href="#" th:href="@{'/resend-email/' + ${account.nickname}}">인증 이메일 재전송</a>
	</div>
	<div class="container">
		<div th:replace="fragments.html :: study-banner"></div>
		<div th:replace="fragments.html :: study-info"></div>
		<div th:insert="fragments.html :: study-menu(menuName='manager')"></div>
		<div class="row mt-5 justify-content-center">
			<div th:replace="fragments.html :: study-settings-menu(currentMenu= 'study')"></div>
			<div class="col-8" th:if="${study.isDrafted()}">
				<div class="alert alert-primary" role="alert" th:if="${ !#strings.isEmpty(updateMessage) }" th:text="${updateMessage}"></div>
				<h2>스터디 공개 및 종료</h2> 
				<form class="mt-5" action="#" th:action="@{'/study/' + ${study.getEncodePath()} +'/settings/study/open' }" method="post" >
					<div class="alert alert-primary" role="alert">
						스터디를 다른 사용자에게 공개할 준비가 되었다면 버튼을 클릭하세요.<br /> 소개, 배너 이미지, 스터디 주제 및 활동 지역을 등록했는지 확인하세요. <br/>
						스터디를 공개하면 주요 활동 지역과 스터디 주제에 관심있는 다른 사용자에게 알림을 전송합니다.<br/>
					</div>
	                <div class="form-group">
	                	<button class="btn btn-primary btn-block mb-5" type="submit" aria-describedby="submitHelp">스터디 공개</button>
	                </div>
				</form>
				<hr style="width:100%;" />
			</div>
			<div class="col-8" th:if="${study.isOpened()}">
				<div class="alert alert-primary" role="alert" th:if="${ !#strings.isEmpty(updateMessage) }" th:text="${updateMessage}"></div>
				<h2>스터디 공개 및 종료</h2> 
				<form class="mt-5" action="#" th:action="@{'/study/' + ${study.getEncodePath()} +'/settings/study/close' }" method="post" >
					<div class="alert alert-warning" role="alert">
						스터디 활동을 마쳤다면 스터디를 종료하세요. <br/> 스터디를 종료하면 팀원을 모집하거나 모임을 만들 수 없으며, 스터디 경로와 이름을 수정할 수 었습니다.<br/>
						스터디 모임과 참여한 팀원의 기록은 그대로 보관합니다.
					</div>
	                <div class="form-group">
	                	<button class="btn btn-warning mb-5" type="submit" aria-describedby="submitHelp">스터디 종료</button>
	                </div>
				</form>
				<hr style="width:100%;" />
			</div>
			<div class="col-8" th:if="${study.isRecruited()}">
				<h2>팀원 모집</h2> 
				<form class="mt-5" action="#" th:action="@{'/study/' + ${study.getEncodePath()} +'/settings/study/recruiting' }" method="post" >
					<div class="alert alert-warning" role="alert">
						팀원을 모집합니다. <br/>충분한 스터디 팀원을 모집했다면 모집을 멈출 수 있습니다.<br/>
						팀원 모집 정보는 1시간에 한번만 변경할 수 있습니다.
					</div>
	                <div class="form-group">
	                	<button class="btn btn-warning mb-5" type="submit" aria-describedby="submitHelp">팀원 모집 시작</button>
	                </div>
				</form>
				<hr style="width:100%;" />
			</div>
			<div class="col-8" th:if="${study.isClosed()}">
				<div class="alert alert-primary" role="alert">
					팀원을 모집합니다. <br/>충분한 스터디 팀원을 모집했다면 모집을 멈출 수 있습니다.<br/>
					팀원 모집 정보는 1시간에 한번만 변경할 수 있습니다.
				</div>
	        	<hr style="width:100%;" />
			</div>
		</div>
	</div>
	
	<footer th:replace="fragments.html :: footer"></footer>
	<script th:replace="fragments.html :: form-validation"></script>
	<script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
	<script th:replace="fragments.html :: editor-script"></script>
	<script th:replace="fragments.html :: tooltip"></script>
</body>
</html>